/*.dos {
  display: inline-block;
  background: brown;
  border: solid black 3px;
  width: 100px;
  margin: 15px;
  padding: 10px;
}
.tres {
  display: inline-block;
  background: brown;
  border: solid black 3px;
  width: 100px;
  margin: 15px;
}
.prueba_overfow {
  display: inline-block;
  background: brown;
  border: solid black 3px;
  width: 100px;
  margin: 15px;
}
*/
* {
  margin: 0px;
  padding: 0px;
}

.eleonora {
  border: 5px solid black;
  width: 200px;
  height: 200px;
}
.prueba {
  width: 100px;
  height: 100px;
  border: 5px solid red;
  padding: 10px;
  box-sizing: content-box;

  /*box-sizing: border-box;*/
}

.prueba1 {
  width: 100px;
  height: 100px;
  border: 10px solid blue;
  padding: 10px;
  box-sizing: content-box;
}
